section {
  margin: 50px 0 50px 0;
}

.quadro {
  display: flex;
}
.quadro ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quadro th,
.quadro li {
  border: 1px solid #000;
  flex: 1;
}
